# Local Postgres (Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tarjeteando?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="CHANGE_ME_TO_A_LONG_RANDOM_SECRET"

# Single-user credentials (simple)
APP_USERNAME="admin"
APP_PASSWORD="change-me"
